body {
  margin: 0px;
}

ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* Carousel */
.carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Control Panel */
.carousel > div {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#next-button {
  grid-column: 3/4;
  grid-row: 2/3;
}

#previous-button {
  grid-column: 1/2;
  grid-row: 2/3;
}

#specific-button {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end;
  justify-self: center;
}

.carousel > ol {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.carousel img {
  height: 100vh;
  display: none;
}

.carousel img.current-image {
  display: unset;
}
