body {
  margin: 0px;
}

ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* Carousel */
.carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Control Panel */
.carousel > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*Padding på next og previous knappene har forskjellig px, 
men det var det som så best ut*/
#next-button {
  background: linear-gradient(135deg, #00C9FF 0%, #92FE9D 100%);
  border: none;
  color: white;
  border-radius: 50%;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 3px;
}

#next-button svg {
  width: 20px;
  height: 25px;
}


#previous-button {
  background: linear-gradient(135deg, #00C9FF 0%, #92FE9D 100%);
  border: none;
  color: white;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 2px;
}

#previous-button svg {
  width: 25px;
  height: 25px;
}

#next-button:hover, #previous-button:hover {
  background: linear-gradient(135deg, #00C9FF 0%, #92FE9D 100%);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

#specific-button {
  display: flex;
  gap: 10px;
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end;
  justify-self: center;
}

#specific-button button {
  background: linear-gradient(135deg, #2e8b57 0%, #6b8e23 100%);
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}

.carousel > ol {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.carousel img {
  height: 100vh;
  display: none;
}

.carousel img.current-image {
  display: unset;
}
