body {
  margin: 0px;
}

.ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/*carusell*/
.carusell {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.carusell > div {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.next-button {
  grid-column: 3/4;
  grid-row: 2/3;
}

.previous-button {
  grid-column: 1/2;
  grid-row: 2/3;
}

.Spesific-button {
  grid-column: 2/3;
  grid-row: 3/4;
}

.carusell > ol {
  position: absolute;
  width: 100%;
  height: 100¤;
}
.carusell img {
  height: 100%;

}